*{
    list-style: none;
}

body {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    
    #header{
        position: fixed;
        left: 0;
        top: 0;
        width: 260px;
        height: 100%;
        z-index: 1000;
        background-color: #222;

        .pageName{
            font-size: 2.5em;
        }

        .list1{
           padding: 10%;
           line-height:200%
        }

        .list2{
            padding: 10%;
            line-height:200%
        }
    }
    
    #main{
        max-width: 2000px;
        min-height: 100vh;
        margin: 0 auto;
        padding-left: 260px;
        background-color: #111;
    }

    #footer{
        text-align: center;
        background-color: #333;
        padding: 20px 20px 20px 260px;
    }
    
}